/**
 * https://codepen.io/marlasdaughter/pen/yGZZLp
 * #f7dfd4
 * #eabcac
 * #e28091
 * #874e4c
 * #32485c
 *
 **/

body {
  margin: 0;
  padding: 0;
}
#ui-overlay {
  position: absolute;
  width: 800px;
  height: 600px;
  z-index: 1;
  pointer-events: none; /* Makes the container not capture events. */
}
#ui-overlay > * {
  pointer-events: all; /* Makes everything else capture events. */
}
canvas {
  position: absolute;
}

.ui {
  background-color: #eee;
  padding: 10px;
  display: inline-block;
  border-radius: 1px;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}

.ui-title {
  font-family: "Georgia";
  color: #351C4D;
  font-size: 18px;
  text-transform: lowercase;
  text-shadow: 1px 1px #fff;
  background-color: #f7dfd4;
  border-bottom: 1px solid #fcf5f2;
  margin: -10px -10px 10px -10px;
  padding: 5px 10px 5px 10px;
  cursor: move;
}

.ui input {
  padding: 3px 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.ui button {
  padding: 3px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.ui button:active {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.ui .ui-action {
  text-align: right;
  margin-top: 5px;
}
.ui .ui-action > * {
  vertical-align: bottom;
}

.ui-button-menu button {
  width: 100%;
}

/** Game menu */
.game-menu {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* Popup message */
.popup-message p {
  z-index: 1000;
  font-size: 14px;
  line-height: 140%;
}

/* Stage selector */
#select-stage .ui {
  width: 446px;
}
#select-stage .stage__container {
  margin: -5px;
}
#select-stage .stage {
  opacity: 0.8;
  width: 140px;
  height: 100px;
  float: left;
  cursor: pointer;
  margin: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
}
#select-stage .stage:hover {
  opacity: 1;
}

.stage__name {
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
.stage__players-online {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  padding: 2px 10px;
  border-radius: 20px 0 0 0;
}

.ui label {
  display: block;
  font-size: 0.7em;
  text-transform: lowercase;
}

/* Character
____________________________________*/
.character-content {
  display: flex;
}
.equip-slot {
  position: relative;
  height: 40px;
  width: 180px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}
.equip-label {
  position: absolute;
  font-weight: bold;
  color: #ddd;
  font-style: italic;
  text-transform: lowercase;
  font-size: 0.75em;
  bottom: 0;
}
.character-equipment-right .equip-label {
  left: 0;
}
.character-equipment-left .equip-label {
  right: 0;
}
.equip-description {
  position: relative;
}
.equipment {
  display: flex;
}
