
canvas, #ui {
  float: left;
  font-size: 0;
}
#ui > div {
  margin: 10px 0;
}
body {
  margin: 0;
}

#ui {
  height: 100vh;
  overflow-y: scroll;
  padding: 0 10px;
}

button {
  border: none;
  margin: 0 5px 5px 0;
  vertical-align: middle;
  height: 32px;
  cursor: pointer;
}
.button-icon {
  height: 32px;
  width: 32px;
  margin-left: -5px;
  margin-right: 5px;
  vertical-align: middle;
}
button.active {
  background: #333;
  color: #ddd;
}

.fieldset {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid;
}

.fieldset > div {
  margin-bottom: 5px;
}

select option {
  background: #333;
  color: #ddd;
  padding: 0 10px;
}

input[type="checkbox"] {
  vertical-align: middle;
}

label {
  font-size: 14px;
}

.manual {
  float: left;
  font-size: 14px;
}
.column {
  float: left;
  display: block;
}
#ui-top {
  background: #000;
}
#ui-top > div {
  padding: 2px 10px;
}
.resource {
  vertical-align: middle;
  color: gold;
}
.resource > img {
  vertical-align: middle;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}
#ui-top button {
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}
#ui-top button:hover, #ui-top button.active {
  background: #222;
}
.turn-controllers button.active {
  background: #843C3C;
}
.ui-top-right {
  color: white;
  float: right;
  line-height: 32px;
}
